<script type="text/javascript" charset="utf-8">
  window.nextflixLogoUrl = '<%= image_url('nextflix-logo.png')%>'
  window.netflixLogoUrl = '<%= image_url('netflix-logo.png')%>'
  window.coverWallPaperUrl = '<%= image_url('cover-wallpaper.jpg')%>'
  window.profileImgUrl = '<%= image_url('default-profile.png')%>'
  window.devicesImgUrl = '<%= image_url('devices.png')%>'
</script>

<% if logged_in? %>
  <script type="text/javascript">
      window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<div id="root">
</div>